body {
  font-family: 'Open Sans', sans-serif;
/*  font-family: 'Droid Sans', sans-serif;*/
/*  font-family: 'Droid Sans Mono', monospace;*/
/*  font-family: 'Cutive Mono', monospace;*/
  line-height: 1.8;
  color: #110631;
  font-size: 15px;
}
a, a:link, a:visited  {
  text-decoration: none;
  color:#110631; 
}
a:hover, a:active {
  text-decoration: none;
  color:#FF4D5C;
}

/*index page*/
.bg-blue {
  background-color: #57CCFF; 
  padding: 5rem;
}
.bg-white {
  padding: 2rem;
  background-color: #ffffff; 
}
.bg-white a, .bg-white a:link, .bg-white a:visited  {
  text-decoration: none;
  color:#57CCFF; 
}
.bg-white a:hover, .bg-white a:active {
  text-decoration: none;
  color:#FF4D5C;
}
.hover{
  opacity:0.8;
}
.hover:hover {
  opacity:1;
}
.thumbnail-section{
  padding:5rem;
}
.thumbnail-frame{
  padding:3rem;
}
.thumbnailicon {
  padding:1rem;
  width:250px;
}


/*project page*/
.home-icon{
  width: 180px;
  height:auto;
  display:inline;
}
.next-icon{
  width: 5rem;
  height:auto;
  display:inline;
}
.gallerytitle{
  padding:3rem;
  padding-bottom:0rem;
  color: #110631; 
}
.description{
  text-align:center;
  font-size:18px;
  padding-top: 0rem;
  padding-bottom: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
}
.worktitle{
  color:#FF4D5C;
  padding-bottom:5rem;
}
.artwork {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem:
  padding-right: 2rem;
  width:650px;
  display:inline;
}
.artwork-faceicon {
  padding: 1rem;
  width:350px;
  display:inline;
}
.postcard{
  padding-left:20rem;
  padding-right:20rem;  
  padding-bottom:10rem;
}
.postcard-photo{
  padding:1rem;
  width:250px;
  display:inline;
}


/*.bg-black{
  background-color: #000000; 
  color: #ffffff; 
}
.bg-grey {
  background-color: #f0f0f0;
  color: #110631;
}
.bg-pink {
  background-color: #FF4D5C; 
  color: #110631;
}*/


/*.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.85;
  background-color: #ffffff;
}
.navbar-nav  li a:hover {
  color: #FF6F5A !important;
}*/
